
.item1 {

    #item1-chart1 div {
        display: inline-block;
        background: #4285F4;
        width: 20px;
        margin-right: 3px;
    }


    #item1-chart2 {
        border: 1px solid #000;
    }



}


