#chart1 div {
    display: inline-block;
    background: #4285F4;
    width: 20px;
    margin-right: 3px;
}

#chart2 div {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}