
.item3 {
    #item3-chart {
        circle {
            fill: #4A988A;
        }
        text {
            font-family: "Open Sans";
            text-anchor: middle;
            color: rgb(34,34,34);
            font-size: 12px;
        }
    }

}
